.flex{
    display: flex;
}

ul{
    list-style: none;
}

.g-20{
    gap: 20px;
}

.space-between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}

a{
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: bold;
    color: rgb(54, 53, 53);
}

header{
    padding: 20px 200px 20px;
    border:1px solid black;
    margin: 0 auto;
}

