*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;

    
}

a{
  color: inherit;
text-decoration: inherit;
}

.container{
 
  width: 80%;
  margin: 0 auto;
  max-width: 1000px;
}
