* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif
}

a {
  color: inherit;
  text-decoration: inherit;
  height: 100%;
}

ul {
  list-style: none;
}



.container {

  width: 80%;
  margin: 0 auto;
  max-width: 1000px;
}


.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}

.wrap{
  flex-wrap: wrap;
}

.p-20 {
  padding: 20px;
}

.g-10 {
  gap: 10px;
}

.p-30 {
  padding: 30px 30px 30px 30px;
}

h1 {
  color: white;
  padding: 40px;
}

.bg-blue {
  background-color: rgb(22, 158, 221);

}






/* //FONT */
.uppercase {
  text-transform: uppercase;
}

.f-header {
  font-size: 0.7rem;
  font-weight: bold;
  color: rgb(65, 63, 63);
}

.active {
  color: rgb(22, 158, 221);
  border-bottom: 2px solid rgb(22, 158, 221);
}

/* //img */
.logo {
  width: 60%;
}

/* MAIN */
.bg-main-top {
  background-image: url(./assets/img/jumbotron.jpg);
  height: 35vh;
  width: 100%;
  background-size: cover;
}

.bg-black {
  background-color: rgb(29, 28, 28);
  height: 70vh;
  width: 100%;

}

/* griglia cards */
.col{
  width:calc(100% / 6);
  padding: 10px;


}

.imgSeries{
width: 100%;
height: 220px;
object-fit: cover;
max-width: 50vw;
max-height: 50vh;

}

h3{
  color: aliceblue;
  text-transform: uppercase;
  font-size: 0.6rem;
}

/* //products */
.imgProducts{
width: 50px;
}

/* //footer */
.bg-footer{
  background-image: url(./assets/img/footer-bg.jpg);
  background-size: cover;
  position: relative;

}

.bg-logo{
  position:absolute;
  right: 100px;
  top: -100px;
}

.text-white{
  color: white;
}
.p-bottom{
  padding-bottom: 20px;
}